{
    "source": [
        "src"
    ],
    "output": "build/phplus",
    "cache": ".phplus-cache",
    "targetPhpVersion": "8.4",
    "stubs": [
        "stubs"
    ],
    "exclude": [
        "vendor",
        "build",
        ".phplus-cache"
    ]
}
